.videoCardWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  cursor: pointer;
  position: relative;
}

.videoBox {
  height: 252px;
}

.video {
  height: 252px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.videoCardWrapperInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.videoCardWrapperInfoProfile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.videoCardWrapperInfoContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.videoCardWrapperInfoContentText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.videoCardWrapperInfoContentAuthor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.videoCardWrapperInfoAuthorText {
  font-size: 13px;
  color: #603E39;
}

.undeProfile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #D9D9D9;
}