.bestMedia{
    width: 100%;
    border-bottom:1px solid #E2E8F0;
    padding-bottom: 20px;
}
.bestMediaCard{
    width: fit-content;
    display: flex;
    column-gap: 28px;
    cursor: pointer;
}
.videoInfoBox{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.video{
    width:424px;
    height: 228px;
    border-radius: 16px;
    object-fit: cover;
}
.mediaTitle{
    font-size: 14px;
    font-weight: 700;
}
.metaBox{
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.metaText{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-sub);
}
.videoContent{
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-line;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-height: 4.5em;
};
.text{
    font-size: 14px;
    margin-top:auto;
}