.storageList{
    display: flex;
    align-items: center;
    column-gap: 16px;
    flex-shrink: 1;
    cursor: pointer;
};
.storageNumberBox{
    padding:0px 13px;
}

.storageNumber{
    color:var(--color-text-sub);
    font-size: 14px;
}

.storageInfoBox{
    display: flex;
    column-gap: 16px;
    align-items: center;
}
.infoBox{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
}
.title{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 212px;
    line-height: 1.5;
}
.nickName{
    font-weight: 700;
    font-size: 14px;
}
.authorBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4px;
}
.metaBox{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.viewBox{
    display: flex;
    column-gap: 4px;
    align-items: center;
}
.customText{
    font-size: 12px;
    color: var(--color-text-sub);
}
