.storageWritePage{
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    align-items: center;
}

.titleSection{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.title{
    font-size: 48px;
}
.subText{
    font-size: 18px;
    font-weight: 400;
    white-space: pre-line;
    color:var(--color-text-sub);
    line-height: 1.5;
}
.uploadSection{
    width: 556px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.titleInputBox{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.inputSpan{
    font-size: 14px;
    color: var(--color-text-sub);
}
.titleInput{
    padding:23px 24px;
    box-sizing: border-box;
    background-color: var(--color-bg-light);
    border-radius:16px;
}
.btnBox{
    display: flex;
    justify-content: center;
}
