#root{
    .home-page{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        height:100%;
        padding-bottom: 250px;
        &>.home-page-videos-section{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            column-gap: 10px;
            row-gap: 41px;
            margin-top: 36px;
            padding-right: 24px;
        }
        &>.home-page-short-shorts-section {
            display: grid;
            grid-template-columns: repeat(4, 344px);
            column-gap: 10px;
            padding-right: 24px;
        }
    }
}