.profileSection{
    display: flex;
    column-gap: 32px;
}
.profile{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.undeProfile{
    width: 160px;
    height:160px;
    border-radius:50%;
    background-color: #D9D9D9;
}

.userInfoBox{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.userNameBox{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.userName{
    font-size: 42px;
    font-weight: 700;
}
.userStats{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.statsText{
    font-size: 15px;
    color: var(--color-text-sub);
}
.introductionText{
    font-size: 15px;
}
.followingBtnBox{
}
.followingBtn{
    padding:12px 32px;
    color: white;
    background-color: black;
    border-radius: 16px;
}
.userContent{
    white-space: pre-line;
    line-height: 150%;
    color:#603E39;
    font-size: 18px;
}

.channelStats{
    display: flex;
    column-gap: 24px;
    align-items: center;
}

.channelStateBox{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}
.channelStateBoxKey{
    font-size: 24px;
    font-weight: 700;
}
.channelStateBoxValue{
    font-size:12px;
    color:#603E39;
}
.profileButtonBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.button{
    background-color: #E2E2E2;
    font-size: 14px;
    font-weight: 400;
    border-radius: 16px;
    padding:12px 24px;
    box-sizing: border-box;
}