.leftHeader{
    display: flex;
    column-gap: 5px;
    height:100%;
}
.menubar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height:28px;
}
.logoBox{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.leftHeaderWrapperLogoLogo{
    width: 24px;
    height: 24px;
}
.logoLink{
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.logoTitle{
    font-weight: 700;
    font-size: 18px;
}