.form {
  position: relative;
}

.input {
  width: 480px;
  height: 44px;
  padding: 13px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #E5E7EB;
  border-radius: 16px;
}

.glassBtn {
  position: absolute;
  top: 50%;
  right: 24px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}