.sidebarGroupUlLi{
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px 16px;
}
.sidebarGroupUlLiLink{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.sidebarGroupUlLiText{
    font-size: 14px;
    color: #52525B;
}
.activeLiText{
    color: #BC0100;
}
.sidebarGroupUlLiActive{
    background-color: #E4E4E7;
    border-radius: 9999px;
}
.iconImage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.icon{
    width: 20px;
    height:20px;
}