:root{
    /*  브랜드 컬러 */
    --color-primary:#EB0000;
    --color-primary-hover:#C80000;

    /* 배경, 테두리 컬러 */
    --color-white:#FFFF;
    --color-bg-light:#F3F3F3;
    --color-border:#E5E5E5;

    /* 텍스트 컬러 */
    --color-text-main:#1A1C1C;
    --color-text-sub:#606060;  /* 조회수, 날짜 등 */
}