.categoryLists {
  border-radius: 16px;
  background-color: var(--color-bg-light);
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.categoryList {
  padding: 8px 24px;
}
.categoryList a {
  color: var(--color-text-sub);
}

.activeList {
  background-color: var(--color-primary);
  border-radius: 16px;
}
.activeList a {
  color: white;
}