.storageDetailPage{
    display: flex;
    column-gap:42px;
    justify-content: center;
}


.storageListsSection{
    height:770px;
    overflow-y: scroll;
}

.storageLists{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}