.storageCreateBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.storageTitleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
}

.storageTitle {
  font-size: 24px;
}

.storageSub {
  font-size: 14px;
  color: var(--color-text-sub);
}

.storageBtn {
  padding: 8px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  color: var(--color-white);
  border-radius: 9999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}