.imgEditBox{

}
.labelBox {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.profileImage {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.profileUndeImage {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #E5E5E5;
}
.editBtn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #BC0100;
    position: absolute;
    bottom: 5px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}