.videoComment{
    display: flex;
    column-gap: 16px;
}
.profile{
    width: 40px;
    height:40px;
    background-color: #D9D9D9;
    border-radius:50%
}
.cmtInfoBox{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.nickNameDate{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.nickName{
    font-size: 12px;
    font-weight: 700;
}
.date{
    font-size: 12px;
    color: var(--color-text-sub);
}
.comment{
    font-size: 14px;
}
.actions{
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.actionBtn{
    display: flex;
    align-items: center;
    column-gap: 2px;
}