.sidebarWrapper{
    width: 256px;
    height:1024px;
    position: fixed;
    top:72px;
    padding:20px 4px;
    display: flex;
    flex-direction: column;
    row-gap: 46px;
}
.activeIsSidebar{
    width: 0px;
  padding: 20px 0;
  overflow: hidden;
}
.sidebarGroup{
    display: flex;
    flex-direction: column;
    padding:0px 16px;
    box-sizing: border-box;
    row-gap: 5px;
}
.sidebarGroupTitle{
    font-size: 14px;
    font-weight: 400;
    color:#603E39;
}
.sidebarGroupUl{
    padding-top: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}   
.sidebarGroupUl:first-child{
    padding-top: 0px;
}