.mediaTrack{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    border-bottom:1px solid #E2E8F0;
    padding-bottom: 20px;
   
}
.videoTitle{
    font-size: 20px;
    font-weight: 700;
}

.videoTrack{
    width: 100%;
    position:relative;
    box-sizing: border-box;
}
.videoGrid{
    display: flex;
    box-sizing: border-box;
    gap: 16px;
    transition: all 0.3s ease-in-out;
    >div{
        flex: 0 0 calc((100% - 80px) / 6);
        max-width: calc((100% - 80px) / 6); 
        
    }
}

.pagination{
    width: 100%;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}