.videoWriteTemplate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
  padding-bottom: 200px;
}

.titleSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 18px;
}

.title {
  margin-top: 20px;
  font-size: 48px;
}

.subText {
  font-size: 18px;
  font-weight: 400;
  white-space: pre-line;
  color: #603E39;
  line-height: 1.5;
}

.uploadForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
}