.inputForm{
    padding: 16px 16px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.profile{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.input{
    width: 100%;
    border-bottom:1px solid #D1D5DB;
    padding:5px 0px;
    box-sizing: border-box;
    font-size: 14px;
}