#root{
    .account-page{
        width: 100%;
        height:100%;
        padding-bottom: 150px;
        display: flex;
        justify-content: center;
        &>.account-page-section{
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 85px;;
            row-gap: 45px;
            &>.account-page-section-title{
                display: flex;
                flex-direction: column;
                row-gap: 12px;
                margin-right:auto;
                &>.account-page-section-title-title{
                    font-size: 30px;
                    font-weight: 700;
                }
                &>.account-page-section-title-sub{
                    font-size: 16px;
                    color: #666666;
                    white-space: pre-line;
                    line-height: 150%;
                }
            }

            &>.account-page-section-inputs{
                display: flex;
                flex-direction: column;
                row-gap: 31px;
            }
            &>.account-page-button-box{
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 24px;
                &>.login-link{
                    font-size: 14px;
                    color:#666666;

                }
            }
        }
        
    }
}