#root{
    .submit-button{
        width: 400px;
        height:56px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E60000;
        color:white;
        border-radius: 8px;
        
    }
}